<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{pageTitle}}</title>
  </head>
  <body>

    <div class="container mt-5">

      <h1 class="text-center mb-5"> Order Details</h1>

      <div class="d-flex">

        <div class="me-5">

          <p> <b>Book title </b>: {{book.bookTitle}}</p>
          <p> <b>Book Author </b>: {{book.bookAuthor}} </p>
          <p> <b>Book Description : </b>{{book.bookDescription}} </p>
          <p> <b>Book Price : </b> {{book.bookPrice}}</p>

          <img src={{book.bookImgUrl}} alt="no-image" width="300" />

        </div>

        <div>
          <p> <b>Customer name </b>: {{address.name}}</p>
          <p> <b>Street </b> {{address.street}} </p>
          <p> <b>City : </b>{{address.city}} </p>
          <p> <b>State : </b> {{address.state}}</p>
          <p> <b>Pincode : </b> {{address.pincode}}</p>
      

        </div>

      </div>

      <button class="btn btn-primary mt-5"> Google pay </button>
      <button
        class="btn btn-primary mt-5"
        data-bs-toggle="modal"
        data-bs-target="#paymentModal"
      > Pay with Card </button>


      {{> paymentmodal}}

    </div>


    

  </body>
</html>